<%= render 'shared/errors', obj: @article %>

<%= form_with(model: @article, local: true, class: 'article-form') do |f| %>
    <div class="form-group">
        <%= f.label :title %><br/>
        <%= f.text_field :title, class: 'form-input' %>
    </div>

    <div class="form-group">
        <%= f.label :description %><br/>
        <%= f.text_area :description, class: 'form-input' %>
    </div>

    <div class="form-group">
        <%= f.submit 'Save Article', class: 'btn submit-btn' %>
    </div>
<% end %>
